Abaikan file sistem operasi

.DS_Store
Thumbs.db

Abaikan log

.log
npm-debug.log
yarn-debug.log*
yarn-error.log*

Abaikan folder dependensi

node_modules/
vendor/

Abaikan file environment

.env
.env.local
.env.*.local

Abaikan build artifacts

dist/
build/
